name: Run tests
on:
  push:
  pull_request:
  schedule:
    - cron: '3 20 * * SUN'

jobs:
  build:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    name: Dotnet on ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Setup dotnet 3.1
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 3.1

      - name: Setup .NET 5.0
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 5.0.*

      - name: Setup .NET 6.0
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.*

      - name: Build
        run: |
              dotnet build MaxMind.Db
              dotnet build MaxMind.Db.Benchmark
              dotnet build MaxMind.Db.Test

      - name: Run benchmark
        run: dotnet run -f netcoreapp3.1 -p MaxMind.Db.Benchmark/MaxMind.Db.Benchmark.csproj
        env:
          MAXMIND_BENCHMARK_DB: ${{ github.workspace }}/MaxMind.Db.Test/TestData/MaxMind-DB/test-data/GeoIP2-City-Test.mmdb

      - name: Run tests
        run: dotnet test MaxMind.Db.Test/MaxMind.Db.Test.csproj
        env:
          MAXMIND_TEST_BASE_DIR: ${{ github.workspace }}/MaxMind.Db.Test
